<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyg.permissionlib">

    <application>
        <activity android:name=".TransparentActivity"
            android:excludeFromRecents="true"
            android:theme="@style/TransparentActivity" />
    </application>
</manifest>